{% extends 'layout.html.twig' %}
{% block title %}{{ parent() }} | News {% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/news.css" type="text/css">
{% endblock %}

{% block content %}
<section class="container">
    <headder>
        <h1>News</h1>
    </headder>
    <div>
        {% for news in newslist %}
        {% include 'Component/_card_news.html.twig' %}
        {% endfor %}
    </div>
</section>
{% endblock %}