{% extends 'layout.html.twig' %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/home.css" type="text/css">
{% endblock %}

{% block content %}
	<button>Login</button>
	<h1>Les Amis du Beauceron</h1>

{% endblock %}
