{% extends 'layout.html.twig' %}
{% block header %}
	<header>
		<button>Login</button>
		<h1>
			<span class="lower-title">Les Amis du</span>Beauceron
		</h1>
	</header>
{% endblock %}
{% block content %}
	<main></main>
{% endblock %}