<nav class="admin-navbar">
    <ul class='links' id='links'>
        <li>
            <a href="/Administration/">HOME</a>
        </li>
        <li>
            <a href="/Administation/Actualites">Actualités</a>
        </li>
        <li>
            <a href="/Administation/Adhesions">Adhésions</a>
        </li>
        <li>
            <a href="/Administation/Membres">Membres</a>
        </li>
    </ul>
</nav>