<nav class="admin-navbar">
	<div class="brand">
		<a href="/"><img class="logo" src="/assets/images/logo3.png" alt="Logo Beauceron"></a>
	</div>
	<ul class='links' id='links'>
		<li>
			<a href="/administration/actualites">Actualités</a>
		</li>
		<li>
			<a href="/administration/membres">Membres</a>
		</li>
		<li>
			<a href="/administration/evenements">Évènements</a>
		</li>
		<li>
			<a href="/administration/nos-chiens">Nos Chiens</a>
		</li>
	</ul>
</nav>
