<nav class="admin-navbar">
    <ul class='links' id='links'>
        <li>
            <a href="/administration/">HOME</a>
        </li>
        <li>
            <a href="/administation/actualites">Actualités</a>
        </li>
        <li>
            <a href="/administation/adhesions">Adhésions</a>
        </li>
        <li>
            <a href="/administation/membres">Membres</a>
        </li>
    </ul>
</nav>