{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/membership.css" type="text/css">
{% endblock %}
{% block title %}
	{{ parent() }}
	| Adhesion
{% endblock %}
{% block content %}
	<header>
		<h1>Formulaire d'Adhesion</h1>
	</header>
	<main class="container">
		<form action="/ma-page-de-traitement" method="post">
			<div>
				<label for="nom">Nom:</label>
				<input type="text" id="nom" name="user_name">
			</div>
			<div>
				<label for="prenom">Prenom:</label>
				<input type="text" id="prenom" name="user_name">
			</div>

			<div>
				<label for="adresse" postale>adresse :</label>
				<input type="text" id="adresse" name="user_adresse">
			</div>
			<div>
				<label for="telephone">Telephone :</label>
				<input type="tel" pattern="[0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2}" ; id="telephone" name="telephone">
			</div>
			<div>
				<label for="courriel">Courriel :</label>
				<input type="email" id="courriel" name="user_email">
			</div>
			<div>
				<h2>
					Abonnement
				</h2>
				<textarea name="message" rows="4" cols="8">Désire adhérer au club les Amis du Beauceron: 50€</textarea>
			</div>
			<button type="submit">
				Envoyer
			</button>
		</div>
	</form>
</main>{% endblock %}