{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/membership.css" type="text/css">
{% endblock %}
{% block title %}
	{{ parent() }}
	| Adhesion
{% endblock %}
{% block content %}
	<header>
		<h1>Formulaire d'Adhesion</h1>
	</header>
	<main class="container">
		<form action="/ma-page-de-traitement" method="post">
			<div>
				<label for="nom">Nom:</label>
				<input type="text" id="nom" name="user_name"><br><br>
			</div>
			<div>
				<label for="prenom">Prenom:</label>
				<input type="text" id="prenom" name="user_name"><br><br>
			</div>

			<div>
				<label for="adresse postale">adresse :</label>
				<input type="text" id="adresse" name="user_adresse"><br><br>
			</div>
			<div>
				<label for="telephone">Telephone :</label>
				<input type="telephone" id="telephone" name="telephone"><br><br>
			</div>
			<div>
				<label for="courriel">Courriel :</label>
				<input type="email" id="courriel" name="user_email"><br><br>
			</div>
			<div>
				<h2>Abonnements et tarifs</h2>

				<input type="radio" id="adhesionsimple" name="abonnements" value="Adhesion simple 50 euros">
				<label for="adhésion simple 25 euros">Adhesion simple: 50€</label><br><br>
				<input type="radio" id="abonnement trimestriel" name="abonnements" value="Abonnement trimestriel 70 euros">
				<label for="abonnement trimestriel">Abonnement trimestriel: 70€</label><br><br>
				<input type="radio" id="abonnement couple" name="abonnements" value="abonnement couple 100 euros">
				<label for="abonnement couple">Abonnement couple: 100€</label><br><br>
				<div class="button">
					<button type="submit">Validation</button><br><br>
				</div>
			</form>
		</main>
	{% endblock %}