<!doctype html>
<html lang="fr" data-theme="light">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/assets/images/favicon.png">
		<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
		<title>{% block title %}Les Amis du Beauceron{% endblock %}</title>
	 	{% block stylesheet %}{% endblock %}
	</head>   
	<body>
		{% block navbar %}{% include 'Component/_navbar.html.twig' %}{% endblock %}
		{% block header %}{% endblock %}
		{% block content %}{% endblock %}
		{% block javascript %}{% endblock %}
	</body>
</html>
