<div class="genese">
	<h2>LA GENÈSE</h2>
	<div class="part4">
		<img src="/assets/images/beauceron/img3.gif" alt='Beauceron 3'>
		<p>Nous étions en l'année 1606, Anthelme Pivoine, le soir tombant, rentrait à la maison
			<br>
			En ce mois de septembre, il ne faisait ni beau ni mauvais, ni triste ni gai, selon l'humeur choisie entre joie et mélancolie.
			<br>
			" La Traverse ", vent d'Ouest, soufflait doucement un air encore salin et humide. II déplaçait lentement de grands lambeaux de nuages éclairés de reflets jaunes par une énorme lune ronde qui brillait derrière les aulnes en bordure de l'étang.
			<br>
			Anthelme Pivoine rentrait, crotté, harassé, plié par la fatigue.
			<br>
			Enveloppé dans une grande houppelande traînant jusqu'au sol et qui n'avait plus que la couleur de la terre, Anthelme ressemblait plus à un tas informe qu'à un homme.
			<br>
			Pourtant, cela ne l'empêchait pas de retourner dans sa tête les souvenirs de l'année qui s'étirait vers sa fin. Un seul mot résumait les mois précédents ; ce mot était " pluie " : pluie pour les labours, pluie pour la fenaison, pluie pour la moisson. Seule la vendange venait de se faire dans des conditions décentes, mais les raisins gorgés d'eau ne donneraient qu'une piquette qui tournerait aux moindres caprices du temps.
			<br>
		</p>
	</div>
	<p>Le roi Henri avait beau dire que son peuple devait mettre la poule au pot tous les dimanches, le pauvre Anthelme, lui, se demandait comment il allait pouvoir seulement nourrir son fils Romain, sa fille jeannette et sa femme Jeanne qui attendait le troisième pour le début de l'année. II ne restait rien à la maison, vraiment rien. II était matériellement impossible d'attendre la prochaine récolte.
	</p>
	<p>Tout en remuant ses arrière-pensées, il arrivait à la fourche de deux routes, enfin, plus exactement d'un chemin à peine carrossable qui conduisait au Mans. Plus jeune, il était allé dans cette grande cité qui l'avait effrayé, mais plus jamais il n'était retourné ni même n'en avait éprouvé l'envie ! L'autre chemin n'était qu'une sente boueuse où les ornières se transformaient en de curieux petits ruisseaux marrons ; celle-ci menait à St-Gatien, son village tout proche ! II accéléra le pas en sautant une flaque plus importante lorsqu'il lui sembla apercevoir quelque chose d'anormal...
	</p>
	<p>En effet, à la pointe formée par la jonction des deux chemins s'arrondissait un tertre sur lequel, il y a bien longtemps, s'élevait une croix de mission. Depuis des décennies, rongée par la rouille, secouée par le vent, elle s'était écroulée, disloquée dans le caniveau fangeux.
	</p>
	<p>Le paysan, scrutant l'ombre et s'approchant, distingua, debout sur l'ancien socle, une forme vaguement humaine. Elle luisait légèrement dans l'obscurité complètement venue ! Sur cette forme toute de noir vêtue,un grand manteau rouge flottait doucement dans le vent. Anthelme aperçut une grande queue pointue qui fouettait rageusement le sol autour des pieds fourchus de cet étrange personnage.																																																																								Le diable...</p>
	<p>I n'y avait aucun doute, c'était bien le Malin ! Anthelme avait vu trop de reproductions pour se tromper. La peur ne l'habitait pas. À cette époque, Dieu et le diable côtoyaient le quotidien.																																																																							C'était plus la curiosité que la terreur qui le laissait immobile, regardant avec attention cette apparition.
		<br>
		Une voix au timbre métallique s'éleva:
		<br>
		- Alors Anthelme, comment vont les affaires ?
		<br>
		Elles allaient mal, pour sûr, mais que le démon le connaisse paraissait incroyable !
		<br>
		- Elles vont mal, très mal... mais comment me connaissez-vous ?
		<br>
		-Tu sais, Anthelme, je connais un peu tout le monde et j'ai déjà eu à faire à plusieurs. Je ne suis pas si mauvais diable et je peux te proposer un arrangement !
		<br>
		- Cela m'étonnerait...
		<br>
		- Mais si ! Actuellement, tu as une femme et deux enfants ; tu ne peux pas nourrir tout ce monde, sans parler de ton solide appétit. Ta femme est enceinte d'un troisième, ce qui ne vas pas arranger tes affaires. Je te propose d'échanger ton prochain enfant contre un grenier plein, une étable florissante, un poulailler bien garni et l'aisance jusqu'à ce que tu aies élevé ton dernier enfant.
		<br>
		- Un enfant, ça ne s'échange pas !
		<br>
		- Si ! Ne serait-ce que pour assurer la vie des autres. Tu as travaillé toute ta vie très dur, tu n'as pas un liard et d'ici l'année pro chaine, vous serez peut-être morts de faim. Par contre, si tu acceptes ma proposition, vous serez tous en vie, bien portants et riches. Ta femme est encore jeune et rien ne l'empêchera de faire d'autres enfants.
		<br>
		- Non ! répondit le diable en ricanant plus fort, je te marquerai de façon indélébile à mes couleurs et celles-ci ne disparaîtront que lorsque tu auras respecté ton contrat. je suis toujours bon diable, je te donne trois jours. Sois au même endroit à la même heure et souviens-toi que je n'aime pas attendre !
		<br>
		Sur ce, il disparut...
		<br>
	</p>
	<p>Anthelme restait sidéré. Si une certaine luminescence ne flottait pas encore dans l'ombre de la nuit, il aurait cru rêver. Enfin... il repartit en direction du village la tête toute embrouillée !
		<br>
		En arrivant chez lui, il embrassa sa femme qui l'attendait, un peu inquiète de son retard. II ne souffla mot de cette rencontre. II était inutile de l'ajouter aux soucis quotidiens. Les enfants dormaient ; il restait de la soupe de betteraves cuites avec un peu de lard. L'homme se mit à table, tandis que la femme prit à son tour sa part et mangea debout près de la grande cheminée, comme cela se fait encore dans certaines campagnes.
		<br>
		Ils mangèrent lentement, sans rien dire, comme les gens qui connaissent le prix de la nourriture. Ce silence arrangeait plutôt Anthelme, lui permettant de remettre en ordre ses pensées. Jeanne devait accoucher fin janvier, en plein hiver ; il était bien certain qu'un enfant de plus dans les conditions actuelles n'arrangeait personne.
		<br>
		Tout de même... donner un enfant... le livrer au diable... ! Encore, si c'était une fille, ce serait moins grave ; il en avait une et avec son épouse, cela faisait deux femmes à la maison : c'était bien suffisant... Tandis que des bras d'hommes, il n'y en avait jamais assez !
		<br>
		Une chance sur deux..., pensa-t-il.
		<br>
		Ils allèrent se coucher. Anthelme ne dormit pas ! Comme souvent en cette saison, le jour arriva discrètement, le soleil se leva au-dessus de l'horizon illuminant la campagne d'or et de rouille pour faire encore mieux apprécier la magnificence de ces derniers beaux jours.
		<br>
		Anthelme se leva, mâcha quelques restants de la veille et partit au travail l'âme en paix. II irai au rendez-vous du diable.
	</p>
	<div class="part5">
		<p>Les trois jours et les trois nuits passèrent lentement. À l'approche de la date infernale, Anthelme se voûtait un peu plus sous le poids du chagrin.
			<br>
			Ce fut le jour ; ce matin-là le ciel se déchaîna à nouveau, les nuages se cognant et s'étirant sans cesse déferlèrent leur trombe d'eau sur la campagne. Finie la douceur de vivre aux couleurs d'or fondu ! C'était l'heure du rendez-vous ! Devant le grand rocher, on devinait la silhouette d'Anthelme ruisselante d'eau, attendant, immobile, l'apparition du satanique partenaire.
			<br>
			Sur le tertre, apparut la même lueur qui avait attiré l'attention du passant ; au centre, se matérialisa la forme de Satan.
			<br>
			- Alors Anthelme, je vois que ma proposition ne t'a pas laissé indifférent !
			<br>
			- Oui, j'ai réfléchi et malgré la peine qu'il m'en coûte, je suis obligé de souscrire à votre marché, bien que n'en ayant pas parlé à ma femme. je me chargerai personnellement de t'apporter l'enfant le lendemain de sa naissance afin qu'elle ignore tout de ce triste sortilège.
			<br>
			- Je vais donc, comme je te l'ai dit, te marquer à mes couleurs jusqu'au paiement de ta dette.
			<br>
			II leva le bras gauche, une lueur aveuglante traversa la nuit enveloppant Anthelme Pivoine.
			<br>
			- Rendez-vous ici, à la même heure, au lendemain des couches, hurla le diable, disparaissant comme la première fois, ne laissant qu'une mince luminosité dans le brouillard de pluie.
			<br>
		</p>
		<img src="/assets/images/beauceron/img4.jpg" alt='Beauceron 4'>
	</div>
	<p>
		Anthelme arriva près de sa chaumière ; elle lui sembla plus belle, le faîtage qui s'était creusé se trouvait parfaitement horizontal, il crut entendre... il entendit le meuglement des vaches à l'étable. il en poussa la porte... Trois superbes vaches aux grandes cornes et couleur de pommes reinettes tournèrent vers l'arrivant leur mufle brun et luisant, dans le mouvement de meule de leurs mâchoires, les lèvres laissaient couler de grands filets de bave ; d'un dernier coup d'oeil, le paysan vit que les crèches étaient pleines de foin long et odorant.
		<br>
		Chez lui, malgré les pluies incessantes, l'intérieur était sec et douillet. Enfilés sur la broche de la lèche-frite, deux poulets tournaient, dégageaient des odeurs qu'Anthelme n'avait pas reniflées depuis longtemps. La joie était partout : le diable n'avait pas menti !
		<br>
		Le regard d'Anthelme passa sur le ventre un peu rond de Jeanne. Fronçant les sourcils, il grommela quelque chose, mais, vite, d'un geste de la main, chassa ses pensées sombres.
				L'hiver arriva plus vite que les autres années ; la neige dès le début de novembre, recouvrit la terre, les maisons, les arbres. Les vents froids soulevèrent d'énormes tourbillons blancs qui allèrent s'écraser sur les murs solides de la demeure d'Anthelme. Le ventre de Jeanne s'arrondissait...
		<br>
		Pour Noël, dans la maison des Pivoine, ce fut une fête comme il n'y en avait jamais eu.
				Le ventre de Jeanne devint tout rond. janvier s'écoula dans la tiédeur de la maison où rien ne manquait; il faisait bon vivre.
		<br>
		Le 2 février au petit matin, les douleurs commencèrent. Jeanne s'installa sur une chaise, comme on le faisait à l'époque, et, en courageuse mère, commença à pousser régulièrement, aux bons moments. Vers les 4 heures environ, car il n'y avait ni horloge ni soleil, un beau garçon naquit. Le père, faisant bouillir des bassines d'eau, nettoya consciencieusement le nouveau-né, le fit crier, le contempla et le rendit tout fier à sa mère.
		<br>
		Ils décidèrent de l'appeler Noël et l'on fêta avec les voisins l'heureux événement.
		<br>
		Le lendemain soir, enveloppé dans sa houppelande, le père repartit à la croisée des deux chemins. II faisait presque nuit lorsqu'il s'installa au pied du rocher et, comme d'habitude, avec emphase, le diable apparut dans son aura de lumière.
		<br>
		- Je suis content, Anthelme, de te voir si précis. Où est l'enfant que tu me dois ?
		<br>
		- Messire Satan, l'enfant est au chaud dans son berceau et je ne vous dois rien du tout !
		<br>
		- Comment, rien du tout, rugit le diable, je t'ai marqué de manière indélébile si tu ne respectais pas ta promesse.
		<br>
		Anthelme se redressa, laissant glisser sa houppelande, fit admirer son bon teint de paysan, sa moustache noire et son grand sourire qui laissait découvrir de belles dents solides et bien plantées.
		<br>
		- Vous voulez sans doute parler de notre dernière entrevue. Messire, vous avez fait une légère erreur ; l'être qui était devant le rocher couvert de ma cape n'était que mon chien. Moi, je me trouvais derrière le rocher.
		<br>
		Anthelme se retournant, siffla un grand chien noir et feu, couleurs du diable. II vint s'asseoir près de son maître et semblait sourire lui aussi.
		<br>
		Anthelme reprit
		<br>
		- C'est à lui que vous avez imprégné vos couleurs pour toujours. Il n'était qu'un vilain chien grisâtre, il est devenu superbe. Quant à son âme, vous ne l'aurez jamais, car elle n'appartient qu'à son maître, moi, Anthelme Pivoine.
		<br>
		Le diable, ébahi de s'être fait gruger, furieux, de sa voix tonna
		<br>
		- Puisque vous avez gagné, je vais vous punir en vous marquant de tous mes attributs !
		<br>
		Relevant son bras gauche, des éclairs jaillirent avec des chuintements terrifiants, mais Anthelme et son chien couraient déjà, zigzaguant à travers les rochers ; les longs éclairs ricochaient sur les blocs de granit en direction du ciel.
		<br>
	</p>
	<p>
		L'on parla longtemps, le soir au coin du feu, de cette fabuleuse histoire. Le chien qui avait roulé le diable acquit l'estime générale. II vivait superbe dans sa nouvelle livrée. De toute la région, on lui amenait à domicile (lui qui avait couru tous les bois pour trouver une compagne d'un jour) des femelles toutes plus tentantes les unes que les autres, car tout le monde désirait avoir des petits d'un chien aussi fameux. Chose encore plus diabolique, si l'on peut dire, tous ses petits portaient, points pour points, les mêmes marques, de la même couleur et aux mêmes endroits.
		<br>
		Comme la région où se passe ce récit est la Beauce, on les appela tout naturellement des beaucerons...
		<br>
		Comment ?... Vous ne me croyez pas ? Et bien, examinez d'un peu plus près, je vous prie, la patte arrière d'un beauceron ! Un peu au-dessus du pied ! Mais non, pas à l'extérieur, à l'intérieur... Là, vous y êtes ; qu'y voyez-vous ? Une sorte de double onglon ; en fait, un petit pied fourchu. D'où vient-il à votre avis ? Tout simplement, le diable n'était pas si maladroit ; lors de la fuite d'Anthelme et de son chien, soit d'un coup direct, soit par ricochet sur un rocher, il attrapa bel et bien le chien. La version la plus plausible est certainement un coup par ricochet, car si l'on raisonne sainement, un coup direct qui aurait atteint le pied du chien l'aurait transformé entièrement en pied fourchu, donc c'est un rayon bien amoindri qui a frappé, créant ce particularisme que l'on qualifiera encore de... diabolique.
	</p>
</div>
