<div class="caractere">
	<h1>CARACTÈRE</h1>
	<div class="part6">
		<img src="/assets/images/beauceron/img5.jpg" alt='Beauceron 5'>
		<p>
			"Gentilhomme campagnard", c'est ainsi que la grande Colette a dessiné en deux mots le portrait de son beauceron. Cette définition est toujours d'actualité et il semble difficile d'en trouver une meilleure.
			<br>
			Gentilhomme, il l'est jusqu'au bout de l'ongle de son double ergot. Il faut le voir fièrement campé pour mieux surveiller son troupeau ou défendre sa maisonnée, afin de se rendre compte de sa noblesse. C'est un chien "qui ne ment pas" et son apparence de fierté traduit réellement le fond de son caractère. Campagnard, il l'est aussi par sa rusticité, sa réserve, son attachement profond, son sérieux, son amour du travail.
		</p>
	</div>
	<div class="p1">
		<p>Le beauceron est le plus grand des chiens du premier groupe (groupe qui, actuellement, rassemble tous les chiens de berger). Par sa taille, sa puissance, son expression, il apparaît comme le redoutable défenseur de ses maîtres, de son troupeau, de sa propriété. Son regard foncé est franc, loyal, sévère, voire dur, ce qui lui a peut-être valu dans certaines régions une réputation de chien agressif.
			<br>
			Pourtant ce grand chien noir devient " tout bête " avec les enfants auxquels il ne sait comment montrer son affection. Dans ses démonstrations, son contact est quelquefois rugueux. Car un chien de quelques cinquante kilos qui veut "faire un câlin", et pour cela monte sur vos genoux, pose quelques problèmes. Une bonne éducation et sa sagesse naturelle lui permettront d'aborder les enfants et les grands-mères fragiles avec toute la douceur nécessaire. Bien sûr, on imagine difficilement lorsqu'un bébé beauceron fait son apparition dans une famille, que cet adorable chiot sera dix mois plus tard un chien de taille adulte, et qu'il ne sera encore qu'un "grand" bébé. Dix mois c'est court et c'est pourtant durant cette période que le chiot doit apprendre la vie.
			<br>
			En matière non de dressage mais de simple éducation, il est impératif que, pendant ces quelques mois, votre compagnon apprenne les principes de base qui régissent la maison. Pour chacun, les interdits sont différents : pour les uns la pelouse est sacrée, pour d'autres ce sera la salle à manger... toute la vie communautaire doit être déterminée au cours des premiers mois, le beauceron pouvant devenir un galopin insupportable, ou bien un compagnon irremplaçable.Il ne faudra jamais oublier que le Berger de Beauce est un chien fier d'allure, fier de caractère ; toute contrainte injustifiée lui sera inacceptable. Par contre, si son maître se montre équitable avec lui, il fera, toujours, le maximum pour lui donner satisfaction. Une caresse sera la plus belle des récompenses. Le beauceron est le chien d'un seul maître, cela ne veut pas dire que dans une famille il ne s'attache qu'à l'un de ses membres, mais lorsqu'il a été adopté et qu'il a adopté une famille, il éprouve d'énormes difficultés à en changer. Ainsi, une beauceronne qui avait changé de maître à onze mois mit plus de six mois pour se réadapter. Et ce qu'il y a de plus étonnant, c'est qu'une fois par an, le premier maître revenant dire bonjour à son ancienne élève, cette chienne qui s'était parfaitement intégrée à sa nouvelle famille lui réservait un accueil délirant. Tous ses proches reconnaissaient qu'elle ne leur démontrait pas tant de joie. Après chaque visite, la beauceronne restait abattue sans pratiquement prendre de nourriture pendant près de huit jours. Elle est morte à treize ans, sans avoir jamais oublié son premier maître. Ces exemples sont nombreux et il serait facile d'en citer plusieurs. Si l'expression "gentilhomme campagnard" correspond bien au portrait du Berger de Beauce, les adjectifs : sage et hardi disent tout sur son caractère.
		</p>
	</div>
	<img src="/assets/images/beauceron/empreinte.png" alt='empreinte chien'>
	<div class="p2">
		<p>Sage, il l'est : lorsque l'on voit un beauceron, il est évident que l'on n'a pas affaire à un "rigolo". C'est du sérieux, il ne s'en laisse pas conter, il a un devoir, une mission- garder sa maison, ses enfants, ses maîtres ou son troupeau, ou retrouver au bout d'une piste l'enfant fugueur ou la brebis égarée. Il le fera avec toute sa force, toute son intelligence, mais aussi avec toute sa mesure, toute sa sagesse.
			<br>
			Hardi, il le sera dans toutes les actions qui nécessitent d'aller de l'avant, de prendre des responsabilités et il résoudra avec toute la rigueur dont il est capable les problèmes qui se présenteront. Il a une autre qualité dont on parle peu, c'est la régularité de son caractère. Au cours de sa vie, une fois adulte, son comportement demeurera le même. S'il s'est montré un compagnon agréable pendant quatre ou cinq ans il ne deviendra pas, soudain, sans raison, un chien agressif qui mord des enfants qu'il a débarbouillés d'un coup de langue, pendant des années.
			<br>
			Comme certains hommes qui souvent ne parlent pas plus que nécessaire, le beauceron est un chien qui aboie peu et seulement à bon escient. Le maître qui connaît bien son chien pourra sans sortir de chez lui savoir qui s'approche de son domicile ; entre l'arrivée de la voiture d'un familier qui s'arrête, un chien qui passe ou un inconnu, il y aura autant d'aboiements distincts que d'événements différents.
			<br>
			Lorsque l'on parle d'un chien, on cite ses qualités : il garde bien, il est fidèle, il est gentil, il chasse bien ... tout ce qui fait d'un chien de garde, de chasse ou de compagnie le chien rêvé. L'on citera peut-être aussi ses défauts afin de choisir en toute connaissance la race qui peut le mieux vous convenir. On énumérera les ascendants prestigieux pour convaincre et se convaincre de la grande qualité du chien.
			<br>
			Mais il est une chose dont on parle plus rarement c'est : la santé. Il y a encore cinquante ans, la majorité du cheptel beauceron se trouvait entre les mains des bergers, et pour ceux-ci le chien n'était pas un jouet ou simplement un complément agréable à la vie de famille. Il fallait qu'il soit un outil de travail fiable et performant. Ils ne pouvaient donc conserver un chien incapable de fournir un travail dur, tous les jours de l'année (certains doivent encore parcourir plus de cent kilomètres par jour), et ce par tous les temps. Le chien, à cette époque, ne représentait pas une valeur vénale, il ne pouvait donc être commercé" et finir sa vie sur un canapé dans une maison bien chauffée à l'abri des intempéries ; comme le berger ne pouvait garder de chien inutile, de chien à soupe, il était purement et simplement éliminé quand il n'était pas apte au travail.
			<br>
			Nous bénéficions encore actuellement de cette sélection sauvage qui au fil des années a supprimé les sujets maladifs, craintifs, agressifs, faibles, inintelligents, etc., pour ne conserver que des sujets solides, calmes, courageux, intelligents qui sont les aïeux de notre beauceron.
			<br>
			Il n'y a rien de plus triste que de voir son fier compagnon vieillir prématurément et commencer à décliner vers l'âge de six ou sept ans, devenir sourd, aveugle, atrabilaire. Le beauceron, bien sur, doit mourir un jour, mais dans la plupart des cas il demeurera jusqu'aux dernières semaines, voire jusqu'aux derniers jours, le chien que vous avez toujours connu et aimé. Son temps de passage près de vous et son travail terminés, il s'éteindra mais ne vous laissera jamais un souvenir de chien déchu.
		</p>
		<p>
			Extrait du livre de René SAUVIGNAC, éditions DE VECCHI, 1984
		</p>
	</div>
</div>
