main.actuality-details,
main.actuality {
    background-image: url("../images/empreintechienblanc.png");
    background-color: var(--light);
    background-repeat: repeat-y;
    background-size: 35%;
    background-position: 80% 30%;
    margin-block-start: var(--navbar-height);
}

.actuality section > div {
    display: grid;
    gap: var(--spacing);
    grid-template-columns: 1fr;
}

.actuality-details article,
.actuality article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: clamp(360px, 85%, 95vw);
    margin: var(--spacing);
}

.actuality article > header {
    display: flex;
    align-items: center;
    margin-bottom: calc(var(--block-spacing-vertical) * 1 / 3);
    padding: var(--spacing);
    background-color: var(--light);
}

.actuality article > header > h2 {
    margin-bottom: 0;
    font-size: clamp(1.2rem, 1.8vw, var(--font-size));
    color: var(--secondary);
    font-weight: 600;
}

.actuality img.info-sticker {
    width: clamp(50px, 7vw, 90px);
    padding-inline-end: var(--spacing);
}

.actuality article:nth-child(odd) {
    justify-self: start;
}

.actuality article:nth-child(even) {
    justify-self: end;
}

.actuality article .news-content {
    height: 15vh;
    font-family: var(--font-text);
    color: var(--intermediate);
}

.actuality article > footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: calc(var(--block-spacing-vertical) * 2 / 3);
    padding: 0 0 0 calc(var(--spacing) * 2 / 3);
    flex-direction: var(--flex-direction, row-reverse);
    padding-inline: var(--padding-start, 0) var(--padding-end, var(--spacing));
}

.actuality footer a[role="button"] {
    width: clamp(6rem, 10vw, 8rem);
    padding: calc(var(--spacing) / 3) calc(var(--spacing) / 3);
    border-radius: 0;
    font-size: calc(var(--font-size) * 3 / 4);
}

.actuality article > footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: var(--flex-direction, row-reverse);
    padding-inline: var(--padding-start, 0) var(--padding-end, var(--spacing));
}

.actuality article:nth-child(odd) > footer {
    --direction: right;
    --padding-start: var(--spacing);
    --padding-end: 0;
    --flex-direction: row;
}

.actuality-details article > header {
    display: flex;
    justify-content: center;
    background-color: var(--light);
    text-align: center;
}


.actuality-details .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.actuality-details .img-actuality {
    width: clamp(200px, 25vw, 600px);
}

.actuality-details article header > h2 {
    margin: 0px;
}

.actuality-details article header > div {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}

.actuality-details article div > p {
    min-height: 40vh;
    font-size: var(--font-size);
}

.actuality-details footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--light);
    padding-inline: 0 calc(var(--block-spacing-vertical) * 1 / 2);
    padding-block: calc(var(--block-spacing-vertical) * 1 / 2);
    background-color: var(--secondary);
}

@media screen and (width <=500px) {
    .actuality article {
        width: 99%;
        justify-content: center;
        margin: 0px;
    }

    .actuality article:nth-child(odd) {
        justify-self: center;
    }

    .actuality article:nth-child(even) {
        justify-self: center;
    }
}