body {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 100vh;
    gap: var(--spacing);
}

body > main {
    align-self: stretch;
    grid-column-start: 2;
    --block-spacing-vertical: 1rem;
    --navbar-height:0;
}

nav.admin-navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-column-start: 1;
    align-self: stretch;
    padding-block-start: 10vh;
    background-color: var(--navbar-color);
    gap: calc(var(--spacing)*4);
}

nav.admin-navbar .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing);
    padding-inline-start: 3vw;
}

nav.admin-navbar a {
    color: var(--light);
    text-shadow: var(--text-shadow);
    font-family: var(--font-text);
    font-size: clamp(0.4rem, 3vw, var(--font-size));
}

nav.admin-navbar ul {
    color: var(--secondary);
}

nav.admin-navbar a:hover {
    color: var(--secondary);
}

nav .brand {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav .brand img {
    width: 80px;
    object-fit: cover;
    padding: 0;
}


.datas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(350px, 96vw, 90%);
    gap: var(--spacing);
    margin: var(--spacing) auto;
    font-family: var(--font-text);
    font-size: var(--font-size);
    padding: var(--spacing);
}

.datas-container h1 {
    margin-block: 0px;
}

.datas-container table {
    font-size: var(--font-size);
    margin: var(--spacing);
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.datas-container table thead {
    background-color: var(--secondary);
}

.datas-container table th {
    color: var(--contrast-hover);
}

tr.result-info th {
    text-align: right;
    font-size: calc(var(--font-size)* 3/4);
    background-color: var(--primary);
    color: var(--light);
    font-style: italic;
}

.datas-container table form {
    margin: 0px;
    padding: 0px;
}

.datas-container table form button[role="link"] {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.form-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

.form-img {
    width: 30vw;
    border-radius: var(--border-radius);
}

h1 {
    margin: 0;
    padding: 0;
    font-size: clamp(1.3rem, 3vw, calc(var(--font-size) * 2));
}

h2 {
    margin: 0;
    padding: 0;
    font-size: clamp(1rem, 2vw, calc(var(--font-size) * 1.5));
}

.datas-container {
    padding-top: 0;
    margin-top: 0;
}