body {
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: var(--spacing);
}

body > main {
    align-self: stretch;
    grid-column-start: 2;
    --block-spacing-vertical: 1rem;
    --navbar-height:0;
}

nav.admin-navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-column-start: 1;
    align-self: stretch;
    padding-block-start: 10vh;
    background-color: var(--navbar-color);
    gap: calc(var(--spacing)*4);
    min-height: 100vh
}

nav.admin-navbar .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing);
    padding-inline-start: 3vw;
}

nav.admin-navbar a {
    color: var(--light);
    text-shadow: var(--text-shadow);
    font-family: var(--font-text);
    font-size: clamp(0.4rem, 3vw, var(--font-size));
}

nav.admin-navbar ul {
    color: var(--secondary);
}

nav.admin-navbar a:hover {
    color: var(--secondary);
}

nav .brand {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav .brand img {
    width: 80px;
    object-fit: cover;
    padding: 0;
}


.datas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(350px, 96vw, 90%);
    gap: var(--spacing);
    margin: var(--spacing) auto;
    font-family: var(--font-text);
    font-size: var(--font-size);
    padding: var(--spacing);
}

.datas-container h1 {
    margin-block: 0px;
}

.datas-container table {
    font-size: var(--font-size);
    margin: var(--spacing);
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.datas-container table thead {
    background-color: var(--secondary);
}

.datas-container table th {
    color: var(--contrast-hover);
    font-weight: 600;
}

tr.result-info th {
    text-align: right;
    font-size: calc(var(--font-size)* 3/4);
    background-color: var(--primary);
    color: var(--light);
    font-style: italic;
}

.datas-container table form {
    margin: 0px;
    padding: 0px;
    box-shadow: none;
    border-radius: 0;
}

.datas-container table tr :is(td, th).col-button {
    padding: 0px;
    width: min-content;
    text-align: center;
}

.datas-container table form :is(button, [type="submit"], [type="button"], [type="reset"], [role="button"]), a[role="button"] {
    margin: 0px;
    padding: calc(var(--form-element-spacing-vertical)*0.4) var(--form-element-spacing-horizontal);
    text-decoration: none;
    font-size : calc(var(--font-size)*0.8);
    width: fit-content;
    min-width: clamp(85px, 20vw, 120px);
}

.form-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

.form-img {
    width: 30vw;
}

.container {
    margin-bottom: 0;
}

.container.grid {
    width: 80%;
    align-items: center;
    margin: auto;
    margin-bottom: 0;
    gap: 0;
}

form {
    margin-bottom: 0;
    box-shadow: var(--card-box-shadow);
    padding: calc(var(--spacing)*2);
    border-radius: var(--border-radius);
}

h1 {
    margin: 0;
    padding: 0;
    font-size: clamp(1.3rem, 3vw, calc(var(--font-size) * 2));
}

h2 {
    margin: 0;
    padding: 0;
    font-size: clamp(1rem, 2vw, calc(var(--font-size) * 1.5));
}

.datas-container {
    padding-top: 0;
    margin-top: 0;
}

input[type="date"] {
    padding: var(--spacing);
    color:var(--light);
    background-color:var(--intermediate);
}

.option-container {
    display: flex;
    flex-direction: row;
    gap : var(--spacing);
    margin-block: calc(var(--spacing)*2);
    padding-block-end: calc(var(--spacing)*2/3);
    accent-color: var(--secondary);
    border-bottom: solid 2px var(--intermediate);
}

.option-label {
    background-color:var(--light);
    color:var(--dark);
    padding-block: calc(var(--spacing)*2/3);
    border-bottom: dashed 1px var(--primary);
    padding-inline: calc(var(--spacing)*2/3);;
}