.caractere {
    display: flex;
    flex-direction: column;
}

.caractere .part6 {
    gap: calc(var(--spacing)*2);
    padding: calc(var(--spacing)*2);
}

.caractere .p1 {
    padding-block-start: calc(var(--spacing)*2);
}

.caractere>h1 {
    margin-top: calc(var(--spacing)*5);
}

.caractere p {
    font-family: var(--font-text);
    font-weight: 400;
    font-size: calc(var(--font-size))*2/3;
    color: var(--intermediate);
    width: 80%;
    margin: auto;
}

.caractere>img {
    width: 30%;
    margin: -150px auto;
    z-index: -1;
    transform: rotate(90deg);
}

.part6 {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    gap: calc(var(--spacing)*2);
    padding: calc(var(--spacing)*2);
}

.part6 img {
    width: 50%;
    border-radius: calc(var(--spacing)*2);
}

.p2>p:last-child {
    margin-top: calc(var(--spacing)*2);
    text-align: right;
    font-style: italic;
}

@media screen and (max-width: 1000px) {

    .part6 {
        flex-direction: column;
    }
}