.care {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-block: calc(var(--spacing) * 2);
    padding-inline: calc(var(--spacing) * 4);
    gap: var(--spacing);
    align-items: center;
    justify-content: center;
}

.care p {
    margin-left: calc(var(--spacing) * 2);
    font-size: clamp(1rem, 10vw, 1rem);
}

.pagecare section {
    margin-block: var(--spacing);
}

.pagecare section:nth-child(odd) {
    background-image: url('../images/care/empreintelightcontour.png');
    background-position: 70% 5%;
    background-size: calc(var(--spacing) * 12);
}

.pagecare section:nth-child(even) {
    background-color: var(--light);
    background-image: url('../images/care/empreintechiencontour.png');
    background-position: 70% 20%;
    background-size: calc(var(--spacing) * 12);
}

.pagecaresection img {
    border: var(--border);
    border-radius: var(--border-radius);
    object-fit: cover;
    margin-left: 0;
    width: 20vw;
}

@media screen and (width < 1200px) {
    .care {
        grid-template-columns: 1fr;
    }

    .imagecare {
        margin: auto;
    }

    .pagecare section:nth-child(odd) {
        background-position: 95% 100%;
    }

    .pagecare section:nth-child(even) {
        background-position: 95% 100%;
    }

    .care p {
        margin-left: 0;
    }
}

@media screen and (width < 800px) {
    .pagecare section:nth-child(odd) {
        background-image: none;
    }

    .pagecare section:nth-child(even) {
        background-image: none;
    }
}