footer {

color:var(--primary);
background-color:var(--primary);
    display: flex;
    padding: 8rem;
    width: 45px;
     
    

}
 .contact img {
justify-content:space-around;
    width: 4rem;
    border-radius: 2rem;
    
 }

 .contact img hover {

    color:var(--primary);
    background:var(--secondary);
    border-radius: 1rem;
 }


 





 