body>footer {
    color: var(--primary);
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    padding: auto 1rem;
}

.contact {
    display: flex;
    gap: 2rem;
}

.messagerie {
    display: flex;
    gap: 3rem;
}

img {
    justify-content: space-around;
    width: 4rem;
    border-radius: 2rem;
}