.genese p {
    font-size: clamp(1rem, 10vw, 1rem);
    text-align: justify;
    padding-inline: calc(var(--spacing) * 4);
}

.genese .part4 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-block: calc(var(--spacing) * 4);
    padding-inline: calc(var(--spacing) * 4);
    align-items: center;
    justify-content: center;
    gap: calc(var(--spacing) * 2);
}

.genese .part4 p {
    padding: 0;
}

.genese h2 {
    padding-top: calc(var(--spacing) * 4);
    padding-inline: calc(var(--spacing) * 4);
}

.genese .part5 {
    background-image: url('../images/care/empreintelightcontour.png');
    background-position: 70% 5%;
    background-size: calc(var(--spacing) * 12);
}

.genese .part6 {
    background-color: var(--light);
    background-image: url('../images/care/empreintechiencontour.png');
    background-position: 70% 20%;
    background-size: calc(var(--spacing) * 12);
}

.genese .divPart6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: calc(var(--spacing) * 4);
    padding-inline: calc(var(--spacing) * 4);
    align-items: center;
    justify-content: center;
    gap: calc(var(--spacing) * 2);
}

.divPart6 p {
    padding: 0;
}

.genese .part5,
.genese .part6 {
    padding-bottom: calc(var(--spacing) * 4);
}

@media screen and (width < 1000px) {
    .genese .part4 {
        grid-template-columns: 1fr 1fr;
    }

    .genese .part5:nth-child(odd) {
        background-position: 95% 100%;
    }

    .genese .part6:nth-child(even) {
        background-position: 95% 100%;
    }
}

@media screen and (width < 800px) {
    .genese .part4 {
        grid-template-columns: 1fr;
    }

    .part4>img {
        width: 60%;
        margin: auto;
    }

    .genese .divPart6 {
        grid-template-columns: 1fr;
    }

    .divPart6>img {
        width: 60%;
        margin: auto;
    }
}