.beauceron p {
    font-size: clamp(1rem, 10vw, 1rem);
    text-align: justify;
}

.beauceron .part1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-block: calc(var(--spacing) * 4);
    padding-inline: calc(var(--spacing) * 4);
    align-items: center;
    justify-content: center;
    gap: calc(var(--spacing) * 2);
}

.beauceron h2 {
    padding-inline: calc(var(--spacing) * 4);
}

.beauceron .part2,
.beauceronP {
    padding-inline: calc(var(--spacing) * 4);
}

.beauceron .pawsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: calc(var(--spacing) * 4);
    padding-inline: calc(var(--spacing) * 4);
    align-items: center;
    justify-content: center;
    gap: calc(var(--spacing) * 2);
}

.beauceron .part1 {
    background-image: url('../images/care/empreintelightcontour.png');
    background-position: 70% 5%;
    background-size: calc(var(--spacing) * 12);
}

.beauceron .part3 {
    background-color: var(--light);
    background-image: url('../images/care/empreintechiencontour.png');
    background-position: 70% 20%;
    background-size: calc(var(--spacing) * 12);
}

.beauceron .part3,
.part2 p:last-child {
    padding-bottom: calc(var(--spacing) * 4);
}

@media screen and (width < 1000px) {
    .beauceron .part1 {
        grid-template-columns: 1fr 1fr;
    }

    .beauceron .part1:nth-child(odd) {
        background-position: 95% 100%;
    }

    .beauceron .part3:nth-child(even) {
        background-position: 95% 100%;
    }
}

@media screen and (width < 800px) {
    .beauceron .part1 {
        grid-template-columns: 1fr;
    }

    .imgBeauceron {
        width: 60%;
        margin: auto;
    }

    .imgBeauceron2 {
        width: 80%;
        margin: auto;
    }

    .beauceron .pawsContainer {
        grid-template-columns: 1fr;
    }
}