.container {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing)*3);

}

body>header {
    display: flex;
    justify-content: center;
    --block-spacing-vertical: 0;
}

button {
    color: var(--secondary);
    background-color: black;
    border-radius: 1vw;
    width: 12rem;
}



