nav {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--navbar-color);
}

nav a {
    color: var(--light);
    text-shadow: var(--text-shadow);
    font-family: var(--font-text);
}

ul>li:last-child {
    padding-right: calc(var(--spacing)*2);
}

ul {
    color: var(--secondary);
}

nav a:hover {
    color: var(--secondary);
}

nav li {
    margin: 0;
}

.brand {
    display: flex;
    align-items: center;

}

.brand img {
    width: 80px;
    object-fit: cover;
    padding: 0;
}

.burger {
    display: none;
    align-items: center;
}

.burger svg {
    width: var(--burger-width);
    height: var(--burger-height);
}

@media screen and (width < 750px) {
    .burger {
        display: flex;
    }

    .links {
        display: none;
    }

    .links:target {
        display: flex;
        flex-direction: column;
        width: 100vh;
        background-color: var(--navbar-color);
    }

    nav a {
        font-size: calc(var(--font-size)*1.5);

    }

    svg {
        color: var(--secondary-light)
    }

}