body>header {
    padding: 0;
}

body {
    background-color: var(--primary);
    background-image: url(../images/beauceron.png);
    background-position: calc(var(--spacing)*-16) center;
    min-height: 100vh;
    background-size: cover;
    display: flex;

}

nav {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--navbar-height);
    background-color:var(--navbar-color);

}

nav a {
    color: var(--intermediate);
    text-shadow: var(--text-shadow);

}

ul>li:last-child {
    padding-right: calc(var(--spacing)*2);
}

ul {
    color: var(--secondary-light);
}

nav a:hover {
    color: var(--secondary);
}

nav li {
    margin: 0;
}

.brand {
    display: flex;
    align-items: center;

}

.brand img {
    width: 80px;
    object-fit: cover;
    padding: 0;

}

h1 {
    color: var(--light);
    font-family: var(--font-title);
    font-size: calc(var(--font-size)*3.6);

    text-align: center;
    margin-top: calc(var(--spacing)*8);
    margin-right: calc(var(--spacing)*4);
    line-height: calc(var(--spacing)*8);
    text-shadow: var(--text-shadow);
    font-weight: 550;
}

.burger {
    display: none;
    align-items: center;
}

.burger svg {
    width: var( --burger-width);
    height: var( --burger-height);
}

@media screen and (width < 750px) {
    .burger {
        display: flex;
    }

    .links {
        display: none;
    }

    .links:target {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color:var(--navbar-color);
    }

}