section {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing);
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--light);
    background-image: url('../images/empreintechienblanc_horiz.png');
}

article>header {
    margin-bottom: calc(var(--block-spacing-vertical) * .33);
    padding: calc(var(--spacing)* 0.9);
}

article>header>h2 {
    margin-bottom: 0;
    font-size: clamp(0.9rem, 1.9vw, var(--font-size));
}

article>footer {
    margin-top: calc(var(--block-spacing-vertical) * .66);
    padding: 0 0 0 calc(var(--spacing)* 0.66);
    background-color: var(--primary);
    color: var(--light);
}

footer [role="button"] {
    width: clamp(6rem, 10vw, 8rem);
    padding: calc(var(--spacing)* 0.26) calc(var(--spacing)* 0.26);
    border-radius: 0;
}

.news-content {
    margin: calc(var(--spacing)/2);
    padding: calc(var(--spacing)/2);
}

article>footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}