@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/oruguitas');

:root {
    --secondary-light: #FFCE6D;
    --intermadiate: #444242;
    --light: #f3f3f3;
    --font-title: 'Oruguitas', sans-serif;
    --font-text: 'Roboto', sans-serif;
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary: rgb(23, 20, 20);
    --secondary: #FF7A00;

}