@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');

:root {
    --secondary-light: #ffce6d;
    --intermediate: #444242;
    --light: #f3f3f3;
    --font-title: "Cinzel Decorative", cursive;
    --font-text: "Roboto", sans-serif;
    --font-title2: 'Cormorant Garamond';
    --border: 1px solid #FF7A00;
    --border-radius: 0.3rem;
    --navbar-height: 75px;
    --navbar-color: rgba(var(--primary-color), 0.85);
    --text-shadow: 2px 2px 4px black;
    --burger-width: 12vw;
    --burger-height: 6vh;
    --primary-color: 23, 20, 20;
}

main {
    margin-top: var(--navbar-height);
}

h1 {
    text-align: center;
    font-family: var(--font-title2);
    font-size: clamp(2.5rem, 7vw, calc(var(--font-size) * 3));
    font-weight: 700;
    color: var(--primary);
}

h2 {
    font-family: var(--font-title2);
    font-weight: 400;
    font-size: clamp(1.8rem, 4vw, calc(var(--font-size) * 2)); 
    color: var(--secondary)
}

h3 {
    font-family: var(--font-text);
    font-size: var(--font-size);
    font-weight: 600;
    color: var(--primary);
    text-transform: uppercase;
}

h4 {
    font-family: var(--font-text);
    font-weight: 500;
    font-size: calc(var(--font-size) * 0.8);
    color: var(--primary);
}

p {
    line-height: calc(var(--spacing) * 1.5);
    font-size: var(--font-size);
    color: var(--intermadiate);
}


[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary: rgb(var(--primary-color));
    --secondary: #ff7a00;
}

img {
    object-fit: cover;
    width: 100%;
}