:root {
    --primary-color: #181515;
    --secondary-color: #FF7A00;
    --secondary-light: #FFCE6D;
    --intermadiate: #444242;
    --light: #f3f3f3;
    --font-title: ;
    --font-text: ;


}

* {
    box-sizing: border-box;
}
/* Pink Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary:var(--primary-color);
  --secondary: var( --secondary-color);

}
