<article>
	<header>
		<img class='info-sticker' src="./assets/images/dog-information.webp" alt="image de patte de chien info">
		<h2>{{ actuality.title|title }}</h2>
	</header>
	<div class="news-content">
		{{ actuality.content|length > 150 ? actuality.content|slice(0, 150) ~ '...' : actuality.content }}
	</div>
	<footer>
		<div>
			<small>
				<span>{{ actuality.creation_date|date("d/m/Y", "Europe/Paris")  }}</span>
			</small>
		</div>
		<div>
			<a href="/actualites/show?id={{ actuality.id }}" role="button" class="secondary">DÉTAIL</a>
		</div>
	</footer>
</article>