<article>
    <header>
        <h2>{{ news.title|upper }}</h2>
    </header>
    <div class="news-content">
        {{ news.content|length > 150 ? news.content|slice(0, 150) ~ '...' : news.content }}
    </div>
    <footer>
        <div><small> Date : {{ news.creation_date|date("d/m/Y : H:m") }} </small></div>
        <div>
            <a href="/news/show?id={{ news.id }}" role="button" class="secondary">Détail</a>
        </div>
    </footer>
</article>