<footer>
	<div class='contact'>
		<img src="assets/images/fcb.png">
		<img src="assets/images/insta1.png">
		<img src="assets/images/twitter.png">
	</div>
	<div class='messagerie'>
		<img src="assets/images/gmail.png">
		<p class="messagerietext">email : jodienouba@gmail.com</p>
		<div>
			<p>Copyright Les Amis du Beauceron - Tous droits réservés ©</p>
		</div>
	</div>
</footer>
