<footer> 
<div class = 'contact'>

<img src="assets/images/facebook.jpg">
<img src="assets/images/instagram.jpg">
<img src="assets/images/twitter.jpg">
<img src="assets/images/messagerie.jpg">
</div>
</footer>

