<nav>
	<div class="brand">
		<a href="/"><img class="logo" src="/assets/images/logo3.png" alt="Logo Beauceron"></a>
	</div>
	<div class="burger">
		<a href="#links">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewbox="0 0 16 16">
				<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
			</svg>
		</a>
	</div>
	<ul class='links' id='links'>
		<li>
			<a href="/beauceron">LE BEAUCERON</a>
		</li>
		<li>
			<a href="/beauceron/soin">LES SOINS</a>
		</li>
		<li>
			<a href="/evenements">ÉVÈNEMENTS</a>
		</li>
		<li>
			<a href="/association">ASSOCIATION</a>
		</li>
		<li>
			<a href="/adherer">ADHÉRER</a>
		</li>
		<li>
			<a href="/actualites">ACTUALITÉS</a>
		</li>
		<li>
			<a href="/nos-chiens">NOS CHIENS</a>
		</li>
	</li>
</ul></nav>