{% extends 'layout.html.twig' %}
{% block title %}
	{{ parent() }}
	| Membres
{% endblock %}
{% block stylesheet %}
	{{ parent() }}
	<link rel="stylesheet" href="/assets/css/member.css" type="text/css">
{% endblock %}

{% block content %}
	<main class="member">
		<section class="container">
			<h1>Nos Membres</h1>
			<div>
				{% for member in members %}
					{% include 'Component/_card_member.html.twig' %}
				{% endfor %}
			</div>
		</section>
	</main>
{% endblock %}