{% extends 'layout.html.twig' %}
{% block title %}
	{{ parent() }}
	| Membres
{% endblock %}
{% block stylesheet %}
	{{ parent() }}
	<link rel="stylesheet" href="/assets/css/member.css" type="text/css">
{% endblock %}

{% block content %}
	<main class="actuality">
		<section class="container">
			<header>
				<h1>Membres de l'association</h1>
			</header>
			<div>
				{% for member in members %}
					{% include 'Component/_card_member.html.twig' %}
				{% endfor %}
			</div>
		</section>
	</main>
{% endblock %}
